html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  font-family: Arial, sans-serif;
}
